<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gyr.trains.mapper.StationsMapper">
    <select id="getAllStations" resultType="com.gyr.trains.algorithm.Station">
        SELECT * FROM stations
    </select>

    <select id="getStationByName" resultType="com.gyr.trains.algorithm.Station" parameterType="String">
        SELECT * FROM  stations WHERE name = #{name}
    </select>

</mapper>