<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gyr.trains.mapper.TrainsMapper">
    <insert id="insertTrains">
        INSERT INTO ${tableName} VALUES
        <foreach collection="trainList" item="train" separator=",">
            (#{train.from_station}, #{train.to_station}, #{train.station_train_code}, #{train.train_no}, #{train.date},
            #{train.total_num})
        </foreach>
    </insert>

    <select id="getAllTrain_nos" resultType="String">
        SELECT train_no
        FROM ${tableName}
    </select>

</mapper>